#list{
    border: 3px solid #0000009e;
    background-color: #e8e8e8;
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
}

#app{
    background-color: #6fafbd27;
}

#button-list{
    background-color: #6fafbd27;
    display: flex;
    justify-content: flex-end;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#button-next{
    color:black;
    border-radius: 10px;
}